*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100%;
  line-height: 1;
  background: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 2rem;
}

a {
  color: #395db8;
  text-decoration: none;
}
a:focus {
  color: inherit;
}

.header {
  text-align: center;
}

/* Helper Methods */
.light {
  font-weight: 200;
}

.bold {
  font-weight: 600;
}

.lh-2 {
  line-height: 2;
}

.header .title1 {
  font-size: 2.5rem;
  padding-top: 1rem;
}
.header .title2 {
  font-size: 2.5rem;
  padding: 1rem;
}
.header .header-body {
  width: 35%;
  margin: 1rem auto;
}

.container {
  text-align: center;
  margin-bottom: 1rem;
}

.container .card {
  width: 28%;
  padding: 2rem;
  margin: 1rem;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  box-shadow: 1px 1px 10px hsl(229, 6%, 66%);
  background: white;
}
.container .card .card-title {
  font-size: 1.5rem;
}
.container .card .card-description {
  width: 80%;
  margin: 1rem 0 3rem 0;
}
.container .card .card-img {
  text-align: end;
}

.supervisor {
  border-top: solid 5px hsl(180, 62%, 55%);
}
.team-builder {
  border-top: solid 5px hsl(0, 78%, 62%);
}
.calculator {
  border-top: solid 5px hsl(212, 86%, 64%);
}
.karma {
  border-top: solid 5px hsl(34, 97%, 64%);
}

.shift {
  position: relative;
  top: 10rem;
}

footer .attribution {
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}

@media all and (max-width: 550px) {
  /* Header */
  .header .title1 {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  .header .title2 {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .header .header-body {
    width: 100%;
    margin: 1rem auto;
  }

  /* Body */
  .container {
    margin: 4rem 0;
  }
  .container .card {
    display: block;
    width: 100%;
    margin: 1rem 0;
  }

  .shift {
    position: inherit;
  }
}